<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{16,1.25}</string>
		<string>{30.51,9.62}</string>
		<string>{30.51,26.37}</string>
		<string>{16,34.75}</string>
		<string>{1.49, 26.38}</string>
		<string>{1.49, 9.63}</string>
		<string>{16,1.25}</string>
	</array>
	<key>endPoints</key>
	<array>
		<string>{30.51,9.62}</string>
		<string>{30.51,26.37}</string>
		<string>{16,34.75}</string>
		<string>{1.49, 26.38}</string>
		<string>{1.49, 9.63}</string>
		<string>{16,1.25}</string>
		<string>{16,1.25}</string>
	</array>
</dict>
</plist>
