<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{30,3}</string>
		<string>{53.38,16.5}</string>
		<string>{53.38,43.5}</string>
		<string>{30,57}</string>
		<string>{6.62, 43.5}</string>
		<string>{6.62, 16.5}</string>
		<string>{30,3}</string>
	</array>
	<key>endPoints</key>
	<array>
		<string>{53.38,16.5}</string>
		<string>{53.38,43.5}</string>
		<string>{30,57}</string>
		<string>{6.62, 43.5}</string>
		<string>{6.62, 16.5}</string>
		<string>{30,3}</string>
		<string>{30,3}</string>
	</array>
</dict>
</plist>
