<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{1,8}</string>
		<string>{1,29}</string>
		<string>{1,50}</string>
        
		<string>{52,7}</string>
		<string>{52,27}</string>
		<string>{52,51}</string>
		<string>{75,51}</string>
		<string>{75,27}</string>
		<string>{75,7}</string>
        
		<string>{112,9}</string>
		<string>{112,30}</string>
		<string>{112,51}</string>
	</array>
	<key>endPoints</key>
	<array>
        <string>{1,29}</string>
        <string>{1,50}</string>
        <string>{26,50}</string>
        
        <string>{52,27}</string>
        <string>{52,51}</string>
        <string>{75,51}</string>
        <string>{75,27}</string>
        <string>{75,7}</string>
        <string>{52,7}</string>
        
        <string>{112,30}</string>
        <string>{112,51}</string>
        <string>{137,51}</string>
	</array>
</dict>
</plist>
