<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{22,0}</string>
		<string>{43.65,12.5}</string>
		<string>{43.65,37.5}</string>
		<string>{22,50}</string>
		<string>{1, 37.5}</string>
		<string>{1,12.5}</string>
		<string>{11.5, 14.5}</string>
		<string>{21.5, 21}</string>
		<string>{9, 25}</string>
		<string>{18,29}</string>
		<string>{33,25}</string>
		<string>{24,29}</string>
	</array>
	<key>endPoints</key>
	<array>
		<string>{43.65,12.5}</string>
		<string>{43.65,37.5}</string>
		<string>{22,50}</string>
		<string>{1,37.5}</string>
		<string>{1,12.5}</string>
		<string>{22,0}</string>
		<string>{21.5, 21}</string>
		<string>{33.5, 14.5}</string>
		<string>{18,29}</string>
		<string>{18, 40}</string>
		<string>{24,29}</string>
		<string>{24,40}</string>
	</array>
</dict>
</plist>
